.card-footer {
  padding: 1rem;
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* Reset de margem para garantir alinhamento no Material */
  margin: 0 !important;
}

.card-footer .meta-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
}

.card-footer .meta-info .label {
  color: #777;
  font-weight: 500;
}

.card-footer .meta-info .value {
  color: #333;
}

.text-descricao {
  white-space: pre-line;
  overflow: scroll;
  /* max-height: 100%; */
  height: 100px;
}
