.meta-info {
  display: flex;
  font-size: 0.85rem;
}

.meta-info .label {
  color: #777;
  font-weight: 500;
}

.card-footer .meta-info .value {
  color: #333;
}

.text-descricao {
  white-space: pre-line;
  overflow: scroll;
  height: 100px;
}