<mat-card class="card-item" appearance="outlined">
    <mat-card-header>
        <div class="d-flex">
            <div class="mr-3">
                <mat-icon class="text-success">check</mat-icon>
            </div>
            <mat-card-title>{{ item().titulo }}</mat-card-title>
        </div>
    </mat-card-header>
    <hr>
    <mat-card-content>
        <div>
            <app-tags [tagsInfo]="item().tag"></app-tags>
        </div>
    </mat-card-content>

    <mat-card-actions [align]="'end'">
        <button matButton (click)="ver()">VER</button>
        @if(logado()) {
        <button matButton (click)="editar()">EDITAR</button>
        <button matButton (click)="excluir()">EXCLUIR</button>
        }
    </mat-card-actions>

</mat-card>