<div class="d-flex flex-column h-100">
    <mat-toolbar class="border mb-3  py-3">
        @if(logado()) {

        <button matIconButton class="example-icon" [matMenuTriggerFor]="anotacao"
            aria-label="Example icon-button with menu icon">
            <mat-icon>notes</mat-icon>
        </button>
        <mat-menu #anotacao="matMenu">
            <button mat-menu-item (click)="novo()">
                <mat-icon>add</mat-icon> Novo
            </button>
            <button mat-menu-item (click)="buscar()">
                <mat-icon>refresh</mat-icon> Atualizar
            </button>
        </mat-menu>
        }
        <h2 routerLink="/" class="cursor" style="cursor: pointer;">ANOTAÇÕES</h2>
        <span class="example-spacer"></span>
        @if(logado()) {

        <button matIconButton class="example-icon favorite-icon text-success"
            aria-label="Example icon-button with heart icon" [matMenuTriggerFor]="usuario">
            <mat-icon>person</mat-icon>
        </button>

        <mat-menu #usuario="matMenu">
            <button mat-menu-item routerLink="perfil">
                <mat-icon>admin_panel_settings</mat-icon> Perfil
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>power_settings_new</mat-icon> Sair
            </button>
        </mat-menu>
        } @else {
        <button matButton routerLink="/login" class="example-icon favorite-icon text-success"
            aria-label="Example icon-button with heart icon">
            Entrar <mat-icon>login</mat-icon>
        </button>
        }
    </mat-toolbar>
    <div class=" flex-fill">
        <router-outlet />
    </div>

</div>